**/.DS_Store
/**/lazy-lock.json
/tmux/plugins/
.idea/
lazygit/state.yml
node_modules/
**/node_modules/
src/dot-local/share/
src/dot-local/state/
src/dot-config/iterm2/
src/dot-config/jgit/
src/dot-config/github-copilot
src/dot-config/tmux/plugins/
src/dot-config/flutter/
src/dot-config/htop/
src/dot-local/bin/psrecord
src/dot-local/pipx/
src/dot-local/bin/git-filter-repo
